// Quasar SCSS (& Sass) Variables

$primary   : #474747;
$secondary : #279B48;
$accent    : #279B48;

$dark      : #1D1D1D;

$positive  : #F8F2DC;
$negative  : #279B48;
$info      : #81ADC8;
$warning   : #F2C037;

$counter : #279B48;
